{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category.category}}</h2>
    {% if listings != False %}
        {% if active_listings != False %}
            <div id="listing_section">
                {% for listing in active_listings %}
                        <div>
                            <a href="{% url 'listing' pk=listing.pk %}" class="listing">
                                <img src="{{ listing.photo_url }}" alt="">
                                <h5>{{ listing.title}}</h5>
                                <p>{{ listing.description }}</p>
                                <h5 id="price">Price: $ {{ listing.price }}</h5>
                            </a>
                        </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if inactive_listings != False %}
            <span>Closed listings</span>
            <div id="listing_section">
                <div>
                </div>
                <br>
                {% for listing in inactive_listings %}
                        <div>
                            <a href="{% url 'listing' pk=listing.pk %}" class="listing">
                                <img src="{{ listing.photo_url }}" alt="">
                                <h5>{{ listing.title}}</h5>
                                <p>{{ listing.description }}</p>
                                <h5 id="price">Price: $ {{ listing.price }}</h5>
                            </a>
                        </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>No listings in this category</p>
    {% endif %}
{% endblock %}