{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="inside_listing">
        <div id="image_div">
            <img src="{{listing.photo_url}}" alt="">
        </div>
        <div id="information_div">
            <h1>{{listing.title}}</h1>
            <p>{{listing.description}}</p>
            <p>Category: {{listing.category.category}}</p>
            <p>Published on: {{listing.date}} by {{listing.owner}}</p>
            <br>
            <form action="{% url 'listing' pk=listing.pk %}" method="post">
                {% csrf_token %} 
                <input type="submit" value ="{{is_in_watchlist}}">
            </form>
            <br>
            <h3>Current price: $ {{listing.price}}</h3>
            <p>Number of bids: {{ bid_count }}</p>

            {% if listing.active == True %}
                {% if user.is_authenticated %}
                    {% if user != listing.owner%}
                        <form action="{% url 'bid' pk=listing.pk %}" method="post">
                            {% csrf_token %} 
                            <input type="number" name="bid_amount">
                            <input type="submit" value="Make bid">
                        </form>
                    {% else %} 
                        <form action="{% url 'close' pk=listing.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Close bid">
                        </form>
                    {% endif %}
                {% else %} 
                    <form action="{% url 'bid' pk=listing.pk %}" method="post">
                        {% csrf_token %} 
                        <input type="number" name="bid_amount">
                        <input type="submit" value="Make bid">
                    </form>
                {% endif %}
            {% else %}
                {% if user != listing.owner %}
                    {% if user.username != winner.username %}
                        <span>Listing closed, the winner is {{winner.username}}</span>
                    {% else %}
                        <span>Congratulations! You are the winner of this listing</span>
                    {% endif %}
                {% else %} 
                    <span>You have closed the Listing, the winner is {{winner.username}}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="comments">
        <br>
        <h2>Comments</h2>
        <form action="{% url 'comment' pk=listing.pk %}" method="post" id="comment_div">
            {% csrf_token %} 
            <textarea id="textarea_comment" name="text" placeholder="Add a comment..."></textarea>
            <input type="submit" value="Comment">
        </form>
        <br>
        {% if comments != False%}
            <ul>
                {% for comment in comments %}
                    <li>{{comment.user.username}}: {{comment.comment}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No commets so far</p>
        {% endif %}
    </div>
{% endblock %}